layout {
  border {
    on
    width 2

    // NOTE: now managed by Noctalia.
    // active-color "#0ba792"
    // urgent-color "#9b0000" // Color of the border around windows that request your attention.
  }
}
