include "blur.kdl"
include "floating.kdl"
include "global.kdl"
include "steam.kdl"
include "tiled.kdl"
include "vrr.kdl"

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules
// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
